<html>
<head>
	<!--Import Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Gugi|Lato" rel="stylesheet">
	
	<!--Device Width-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--Bootstrap (CSS Reference)-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!--Style Sheet-->
	<style>
		#submit_button {
			background-color: purple;
			color: white;
		}
		div#title {
			background-color: purple;
			color: white;
			font-family: 'Gugi', cursive;
			font-size: 56
		}
		h2 {
			font-family: 'Gugi', cursive;
			font-size: 32
		}
		h4 {
			font-weight: bold;
			color: purple;
			font-family: 'Lato', sans-serif;
		}
		p {
			font-family: 'Lato', sans-serif;
		}
		form {
			font-family: 'Lato', sans-serif;
		}
	</style>
	
</head>
<body>
<!--Page Title-->
<div class="panel panel-default">
      <div class="panel-heading" id="title">DJam: Easy Music</div>
</div>
<!--About Section-->
<div class="panel panel-default">
      <div class="panel-heading"><h2>About DJam</h2></div>
	  <div class="panel-body">
	  <h4>What is DJam?</h4>
	  <p>
		Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
		Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah blah blah blah blah blah blah.
	  </p>
	  <br>
	  <h4>How does DJam work?</h4>
	  <p>
		Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
		Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah blah blah blah blah blah blah.
		Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
		Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah blah blah blah blah blah blah.
		Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah.
	  </p>
	  </div>
</div>
<!--Form to Generate Playlist-->
<div class="panel panel-default">
      <div class="panel-heading"><h2>Generate a Playlist</h2></div>
      <div class="panel-body">
<form action = "http://localhost:5000/result" method="POST">
<table>
	<tr>
		<th><h4>Artist</h4></th>
		<th><h4>Rating</h4></th>
	</tr>
	<div class="form-group">
	<tr>
		<!--1st artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[0]" required></td>
		<td>
			<select class="form-control" name="user_ratings[0]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--2nd artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[1]" required></td>
		<td>
			<select class="form-control" name="user_ratings[1]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--3rd artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[2]" required></td>
		<td>
			<select class="form-control" name="user_ratings[2]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--4th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[3]" required></td>
		<td>
			<select class="form-control" name="user_ratings[3]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--5th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[4]" required></td>
		<td>
			<select class="form-control" name="user_ratings[4]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--6th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[5]" required></td>
		<td>
			<select class="form-control" name="user_ratings[5]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--7th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[6]" required></td>
		<td>
			<select class="form-control" name="user_ratings[6]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--8th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[7]" required></td>
		<td>
			<select class="form-control" name="user_ratings[7]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--9th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[8]" required></td>
		<td>
			<select class="form-control" name="user_ratings[8]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--10th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[9]" required></td>
		<td>
			<select class="form-control" name="user_ratings[9]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
</table>
<!--Submit Button-->
<button type="submit" class="btn btn-default" id="submit_button">Submit</button>
<br>
</form>
</div>
</div>
</body>
</html>