<html>
<head>
	<!--Import Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Gugi|Lato" rel="stylesheet">
	
	<!--Bootstrap (CSS Reference)-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!--Style Sheet-->
	<style>
		#submit_button {
			background-color: purple;
			color: white;
			font-family: 'Lato', sans-serif;
			font-size: 20;
		}
		div#title {
			background-color: purple;
			color: white;
			font-family: 'Gugi', cursive;
			font-size: 66;
		}
		div#footer {
			background-color: purple;
			color: white;
			font-family: 'Gugi', cursive;
			font-size: 18;
		}
		h2 {
			font-family: 'Gugi', cursive;
			font-size: 36;
		}
		h4 {
			font-weight: bold;
			color: purple;
			font-family: 'Lato', sans-serif;
			font-size: 26;
		}
		p {
			font-family: 'Lato', sans-serif;
			font-size: 16;
		}
		form {
			font-family: 'Lato', sans-serif;
		}
		
		.flex-grid-halves {
		  display: flex;
		  justify-content: space-between;
		}
		
		.flex-grid-halves .col-1 {
		  width: 39%;
		}
		
		.flex-grid-halves .col-2 {
		  width: 59%;
		}

		@media (max-width: 700px) {
		  .flex-grid,
		  .flex-grid-halves {
			display: block;
			}
			.flex-grid-halves .col-1 {
			  width: 100%;
			  margin: 0 0 0 0;
			}
			.flex-grid-halves .col-2 {
			  width: 100%;
			  margin: 0 0 0 0;
			}
		  }
		 .Site {
		  display: flex;
		  min-height: 100vh;
		  flex-direction: column;
		}

		.Site-content {
		  flex: 1;
		}
		
	</style>
	
</head>
<body class="Site">


<!--Page Title-->
<header>
<div class="panel panel-default">
      <div class="panel-heading" id="title">DJam: Easy Music</div>
</div>
</header>

<main class="Site-content">
<!--About Section-->
<div class="flex-grid-halves">
<div class="col-1">
<div class="panel panel-default">
      <div class="panel-heading"><h2>About DJam</h2></div>
	  <div class="panel-body">
	  <h4>What is DJam?</h4>
	  <p>
		Use DJam to easily generate playlists from your favorite artists! Whether you want to listen to music
		by yourself or with others, DJam makes it easy to generate a playlist that has songs from artists that
		you know you already like.
		<br><br>
		DJam was developed in May 2018 by Navina Mathew, Priyank Varshney, and Zoie MacDougall.
	  </p>
	  <br>
	  <h4>How does DJam work?</h4>
	  <p>
		To use DJam, just enter the artists you like and, if you want, specify how much you like each artist&#8212;it's
		that simple! Once you've entered the artists you'd like, DJam uses the music API last.fm to find popular songs
		from each artist you'd like to listen to.
	  </p>
	  </div>
</div>
</div><!--End column-->
<div class="col-2">
<!--Form to Generate Playlist-->
<div class="panel panel-default">
      <div class="panel-heading"><h2>Generate a Playlist</h2></div>
      <div class="panel-body">
	  <p>To generate a playlist, enter the names of ten artists and indicate how much you like each artist.
	  When you're done, just click "Submit" and DJam will display your generated playlist.</p>
	  <p><b>Note:</b> Give 10's to your favorite artists, and give 1's to your least favorite artists.</p>
<form action = "http://localhost:5000/result" method="POST">
<table>
	<tr>
		<th><h4>Artist</h4></th>
		<th><h4>Rating</h4></th>
	</tr>
	<div class="form-group">
	<tr>
		<!--1st artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[0]" required></td>
		<td>
			<select class="form-control" name="user_ratings[0]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--2nd artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[1]" required></td>
		<td>
			<select class="form-control" name="user_ratings[1]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--3rd artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[2]" required></td>
		<td>
			<select class="form-control" name="user_ratings[2]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--4th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[3]" required></td>
		<td>
			<select class="form-control" name="user_ratings[3]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--5th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[4]" required></td>
		<td>
			<select class="form-control" name="user_ratings[4]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--6th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[5]" required></td>
		<td>
			<select class="form-control" name="user_ratings[5]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--7th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[6]" required></td>
		<td>
			<select class="form-control" name="user_ratings[6]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--8th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[7]" required></td>
		<td>
			<select class="form-control" name="user_ratings[7]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--9th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[8]" required></td>
		<td>
			<select class="form-control" name="user_ratings[8]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
	<div class="form-group">
	<tr>
		<!--10th artist and artist rating-->
		<td><input class="form-control" type="text" name="artist_names[9]" required></td>
		<td>
			<select class="form-control" name="user_ratings[9]" required>
				<option value="10">10</option>
				<option value="9">9</option>
				<option value="8">8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			</select>
		</td>
	</tr>
	</div>
</table>
<br>
<!--Submit Button-->
<button type="submit" class="btn btn-default" id="submit_button">Submit</button>
</form>
</div>
</div>
</div><!--End column-->
</div><!--End container-->
</main>

<footer>
<div class="panel-heading" id="footer">Developed in May 2018 by Navina Mathew • Priyank Varshney • Zoie MacDougall</div>
</footer>
</body>
</html>